@import url( 'https://fonts.googleapis.com/css?family=Nunito');

$default-height: 95%;
$default-width: 40%;
$level2-height: $default-height - 15%;
$level2-width: $default-width - 15%;
$level1-height: $default-height;
$level1-width: $default-width;
$level0-height: $default-height + 15%;
$level0-width: $default-width + 15%;
$level-2-left: 10%;
$level-1-left: 35%;
$level0-left: 68%;
$level1-left: 95%;
$level2-left: 85%;

$level1-heightM: $default-height;
$level1-widthM: $default-width ;
$level0-heightM: $default-height + 20%;
$level0-widthM: $default-width + 30%;
    $level-1-leftM: 15%;
    $level0-leftM: 50% ;
    $level1-leftM: 95%;

#carousel {
    position: absolute;
    margin: auto 0;
    width: 100vw;
    height: 70vh;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @media (max-width: 768px){   
     height: 45vmax;
     top: -15%;
    }
    
}

.arrow {
    width: 120px;
    height: 60px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    line-height: 30px;
    z-index: 1000;
    @media (max-width: 768px){   
        width: 75;
        height: 42;
       }
    &-left{
        background: url(./img/test/arrowPrev.png) no-repeat;
        background-size: contain;
    }
    &-right{
        background: url(./img/test/arrowNext.png) no-repeat;
        background-size: contain;
    }
    transition: all 500ms;
  &:hover{
    opacity: 0.9;
  }
}

.item {
    text-align: center;
    color: black;
    line-height: 25px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: box-shadow 1s,  height 250ms, width 250ms, left 1s, margin-top 1s, line-height 250ms, background-color 1s;
    @include adaptiv-font(18, 10);
    & p{
        margin-top: 20px;
    }
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.level-2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    left: $level-2-left;
    & p{
        opacity: 0;
    }
    @media (max-width: 768px){   
        display: none;
    }
    
}

.level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level-1-left;
    & p{
        opacity: 0;
    }
    @media (max-width: 768px){ 
        left:$level-1-leftM;
        height: $level1-heightM;
        width: $level1-widthM;
    }

}

.level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    left: $level0-left;
    & p{
        opacity: 1;
    }
    @media (max-width: 768px){ 
        left:$level0-leftM;
        height: $level0-heightM;
        width: $level0-widthM;
    }
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level1-left;
    & p{
        opacity: 0;
    }
    @media (max-width: 768px){
        left:$level1-leftM;
        height: $level1-heightM;
        width: $level1-widthM;
    }
}

.level2 {
  display:none;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    left: $level2-left;
    & p{
        opacity: 0;
    }
}

.level-2,
.level2 {
    z-index: 0;
}

.level-1,
.level1 {
    z-index: 1;
}

.level0 {
    z-index: 2;
}

.left-enter {
    opacity: 0;
    left: $level2-left;
    height: $level2-height - $default-height;
    width: $level2-width - $default-width;
    line-height: $level2-height - 30;

    &.left-enter-active {
        opacity: 1;
        left: $level2-left;
        height: $level2-height;
        width: $level2-width;
        line-height: $level2-height;
        transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
    }
}

.left-leave {
    opacity: 1;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    z-index: -1;

    &.left-leave-active {
        z-index: -1;
        left: $level-2-left;
        opacity: 0;
        height: $level2-height - $default-height;
        width: $level2-width - $default-width;
        line-height: 120px;
        transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
    }
}

.right-enter {
    opacity: 0;
    left: $level-2-left;
    height: $level2-height - $default-height;
    width: $level2-width - $default-width;
    line-height: $level2-height - 30;

    &.right-enter-active {
        left: $level-2-left;
        opacity: 1;
        height: $level2-height;
        line-height: $level2-height;
        width: $level2-width;
        transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
    }
}

.right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;
    line-height: $level2-height;
    width: $level2-width;

    &.right-leave-active {
        left: $level2-left;
        opacity: 0;
        height: $level2-height - $default-height;
        width: $level2-width - $default-width;
        line-height: $level2-height - 30;
        transition: box-shadow 1s,  left 1s, opacity 1s, height 250ms, width 250ms, margin-top 1s, line-height 1s;
    }
}

.noselect {
    -webkit-user-select: none;
    -html-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.gallery{
    height: 100vh;
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    @media (max-width: 768px){   
        height: 95vmax;
       }
    &::before{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 30%;
       height: 100%;
       z-index: 998;
       backdrop-filter: blur(8px) saturate(100%);
       -webkit-backdrop-filter: blur(8px) saturate(100%);
       background-color: rgba(255, 255, 255, 0.63);
       border: 1px solid rgba(255, 255, 255, 0.125);
       @media (max-width: 768px){   
        display: none;
    }

    }
    &__button{
        display: flex;
        position:absolute;
        z-index: 999;
        bottom: 10%;
        left: 5%;
        @media (max-width: 768px){   
            display: none;
        }
        
        &_mobile{
                display: none;
            @media (max-width: 768px){   
            display: flex;
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translate(-50%);
            z-index: 999;
            }
        }
    }
    &__title{
        position: relative;
        margin-left: 5%;
        font-weight: 700;
        @include adaptiv-font(45, 35);  
        color: #008081;
        margin-top: 1em;
        text-transform: uppercase;
        z-index: 1000;
        @media (max-width: 1024px){   
            @include adaptiv-font(45, 25);
        }
    } 
}