$maxWidth: 1920;

    @mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize *  0.7;
    @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} *  ((100vw - 320px) / #{$maxWidth} ));
    }
    @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
     }




html{
    @include adaptiv-font(20, 10);
}

.App{
    display: flex;
    flex-direction: column;

}
#root{
    height: 100%;
    overflow-x: hidden;

}

.main{
    flex: 1 0 auto;
}


body {
    font-family: Montserrat;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    background: #FAFAFA;

    }

    .container {
        max-width: 1690px;
        padding: 0 110px;
        width: 100vw;
        margin: 0 auto;
        @media (max-width: 1024px){
            padding: 0 20px;
            width: 100vw;
        }
    }

    
     
     h2{
        @include adaptiv-font(48, 5);
        font-weight: bold;
     }