.sgd{
    & .slick_prev{
        background: url(./img/test/arrowPrev.png) no-repeat;
        background-size: contain;
        width: 78px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 2%;
        z-index: 999;
        @media (max-width: 768px){   
            display: none;
        }
        }
       & .slick_next{
            background: url(./img/test/arrowNext.png) no-repeat;
            background-size: contain;
            width: 78px;
            height: 50px;
            position: absolute;
            top: 50%;
            right: 2%;
            z-index: 99;
            @media (max-width: 768px){   
                display: none;
            }
        }
       & .slick-dots{
            display: flex !important;
            gap:1% !important;
            left: 50%;
            bottom: -10% !important;
            transform: translateX(-50%);
            @media (max-width: 767px){   
                bottom: -40px !important;
            }
        }
       & .slick-dots li{
            width: 20% !important;
            flex: 0 1 33% !important;
        
        }
       & .slick-dots button:before{
            background: #008081;
            border-radius: 25px;
            height: 4px !important;
            width: 100% !important;
            font-size: 0 !important;
            
        }
       & .slick-slide img{
            width: 100% !important;
            object-fit: cover;
        }
    background: #FAFAFA;
    flex: 1 0 auto;
    &__slider{
        position: relative;
        width: 50%;
        @media (max-width: 768px){   
            width: 100%;
        }
    }
    &__title{
        display: flex;
        align-items: center;
        gap: 0.9em;
        margin: 3em 0 1em;
        @include adaptiv-font(45, 10);
        text-transform: uppercase;
        color: #008082;
        font-weight: 700;
        letter-spacing: 0.08em;
        @media (max-width: 768px){   
            @include adaptiv-font(45, 16);
        }
        & img{
            height: 0.6em;
        }
    }
    &__subtitle{
        @include adaptiv-font(22, 10);
        line-height: 1.1em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #3CD1C2;
        @media (max-width: 768px){   
            display: none;
        }
        &_mobile{
            display: none;
            @include adaptiv-font(22, 16);
            line-height: 1.1em;
            margin: 3.5em 0 0;  
            @media (max-width: 768px){   
                display: block;
            }
        }
    }
    &__tech{
        display: flex;
        align-items: flex-start;
        gap: 5%;
        justify-content: center;
        margin: 5em 0;
        @media (max-width: 768px){
            flex-direction: column-reverse;
            margin: 2em 0;
        }
        &_img{
            width: 60%;
            @media (max-width: 768px){
                width: 100%;
            }
        }
        &_title{
            @include adaptiv-font(20, 1);  
            font-weight: 700; 
            margin: 3em 0;
            @media (max-width: 768px){
                margin: 2em 0;
                @include adaptiv-font(36, 16);  
            }
        }
        &_list{
            display: flex;
            flex-direction: column;
            line-height: 1.3em;
            gap: 3em;
            @include adaptiv-font(16, 1);
            @media (max-width: 768px){
                @include adaptiv-font(26, 16); 
                gap: 1.5em;

            }
        }
        &_item{
            display: flex;
            gap: 10px;
            align-items: center;
            & p:first-child{
                @include adaptiv-font(30, 1);
                font-weight: 500;
                color: #3CD1C2;
                align-self: flex-start;
                @media (max-width: 768px){
                    @include adaptiv-font(70, 40);
                    transform: translateY(45%);
                }
            }
        }
    }
    &__conditions{
        display: flex;
        align-items: flex-start;
        gap: 5%;
        margin-top: 5em;
        margin-bottom: 10em;
        @media (max-width: 768px){
            flex-direction: column;
            margin-bottom: 5em;
        }
        &_img{
            width: 60%;
            @media (max-width: 768px){
                width: 100%;
            }
        }
        &_title{
            @include adaptiv-font(20, 1);  
            font-weight: 700; 
            margin: 3em 0;
            @media (max-width: 768px){
                margin: 2em 0;
                @include adaptiv-font(36, 16);   
            }

        }
        &_list{
            display: flex;
            flex-direction: column;
            gap: 2em;
            @include adaptiv-font(16, 1);
            @media (max-width: 768px){
                @include adaptiv-font(26, 12); 
                gap: 1.5em;
            }
        }
        &_item{
            display: flex;
            gap: 20px;
            align-items: center;
            & p:first-child{
                @include adaptiv-font(30, 10);
                font-weight: 500;
                color: #3CD1C2;
                align-self: flex-start;
            }
        }
    }
    &__principle{
        &_title{
            width: 100%;
            
            margin: 3em 0;
            @include adaptiv-font(20, 1);
            font-weight: 700; 
            @media (max-width: 768px){
                margin: 0 0 1em;
                @include adaptiv-font(36, 16);
                & span{
                    white-space: nowrap  
                }   
            }
        }
        &_img{
            width: 100%;
            object-fit: contain;
            @include adaptiv-font(20, 1);
            @media (max-width: 768px){
                display: none;
            }
        }
        &_mobile{
            display: none;
            @media (max-width: 768px){
                display: block;
                width: 100%;
                max-width: 450px;
                margin: 30px auto 60px;
            }
        }
    }
}